<style>
table, th, td {
  border: 1px solid black;
}
</style>

<table>
  <tr>
    <th>Result</th>
  </tr>
  <tr>
    <td>
      <img src="<%= search_for_cover_art(@parsed_data['mbid']) %>" width="200" height="200">
      <br>
      Artist: <%= @parsed_data["artist"]%>
      <br>
      Album: <%= @parsed_data["album"]%>
      <br>
      Release Date: <%= @parsed_data["release_date"]%>
      <br>
      <% if !@parsed_data["genres"].empty? %>
        <%= @parsed_data["genres"].split(', ')[0, 3].join(', ')%>
      <% else %>
        None Available
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <form action="/add_to_list/<%= @parsed_data['mbid'] %>" method="post">
        <input type="hidden" name="artist" value="<%= @parsed_data['artist'] %>" />
        <input type="hidden" name="album" value="<%= @parsed_data['album'] %>" />
        <input type="hidden" name="mbid" value="<%= @parsed_data['mbid'] %>" />
        <input type="hidden" name="release_date" value="<%= @parsed_data['release_date'] %>" />
        <input type="hidden" name="genres" value="<%= @parsed_data['genres'] %>" />
        <input type="hidden" name="cover_art" value="<%= search_for_cover_art(@parsed_data['mbid']) %>" />
        <button type="submit">Add to List</button>
      </form>
    </td>
  </tr>

</table>