<table class="music-table">
  <tr>
    <% @artist_albums.each do |album_info| %>
        <td>
          <img src="<%= album_info[:cover_art] %>" width="200" height="200">
          <%= album_info[:artist_name] %><br>
          <%= album_info[:title] %><br>
          Release Date: <%= album_info[:release_date] %><br>
          Genre: <%= album_info[:genres].split(',').first || "None Available" %><br>

          <form action="/edit/<%= album_info[:mbid] %>" method="get">
            <button type="submit">Edit Album Info</button>
          </form>

          <form action="/delete/<%= album_info[:mbid] %>" method="post">
            <input type="hidden" name="artist_id" value="<%= album_info[:artist_id] %>" />
            <button type="submit">Remove from List</button>
          </form>
        </td>
    <% end %>
  </tr>
</table>

<br><br>
<% if params[:page_number] != '1' %>
  <a href="/albums/<%= params[:artist] %>/<%= params[:page_number].to_i - 1 %>">Previous Page</a>
<% end %>
<% if params[:page_number] != @last_page.to_s %>
  <a href="/albums/<%= params[:artist] %>/<%= params[:page_number].to_i + 1 %>">Next Page</a>
<% end %>

<% content_for :header_links do %>
  <% if session[:username] %>
    <form method='post' action='/users/signout'>
      <p class='user-status'>
        Signed in as <%= session[:username] %>.
        <button type='submit'>Sign Out</button>
      </p>
    </form>
  <% else %>
    <a class='login' href='/users/signup'>Sign Up</a>
    <a class='login' href='/users/signin'>Sign In</a>
  <% end %>
  <a class="list" href="/artists">Artists</a>
  <a class="list" href="/all_albums">All Albums</a>
<% end %>