<div class='container'>
  <div class="image">
    <img src="<%= @album_data[:cover_art] %>" alt="" width='200' height='200'>
  </div>
    <div class="text">
      <h2>Editing '<%= @album_data[:artist_name]%> - <%= @album_data[:title] %>'</h2>
      <form action="/edit/<%= @album_data[:mbid] %>" method="post">
        <dl>
          <dt>
            <label for="artist_name">Enter the new artist name:</label>
          </dt>
          <dd>
          <input name="artist_name" placeholder="" type="text" value="<%= params[:artist_name] || @album_data[:artist_name] %>">
          </dd>

          <dt>
            <label for="title">Enter the new album name:</label>
          </dt>
          <dd>
          <input name="title" placeholder="" type="text" value="<%= params[:title] || @album_data[:title] %>">
          </dd>

          <dt>
            <label for="release_date">Enter the new release date (use YYYY or YYYY-MM-DD format):</label>
          </dt>
          <dd>
          <input name="release_date" placeholder="" type="text" value="<%= params[:release_date] || @album_data[:release_date] %>">
          </dd>

          <dt>
            <label for="genres">Enter the new genres:</label>
          </dt>
          <dd>
          <input name="genres" placeholder="" type="text" value="<%= params[:genres] || @album_data[:genres] %>">
          </dd>

          <dt>
            <label for="cover_art">Enter the new cover art:</label>
          </dt>
          <dd>
          <input name="cover_art" placeholder="" type="text" value="<%= params[:cover_art] || @album_data[:cover_art] %>">
          </dd>
        </dl>

        <fieldset class="actions">
          <input type="submit" value="Save">
          <a href="/all_albums">Cancel</a>
        </fieldset>
      </form>
    </div>
</div>